<div class="container-fluid container-person">
  <div class="card bg-dark">
    <div class="card-header">
      <h2><%= @person.name %></h2>
    </div>
    <div class="card-body">
      <div class="card-text">
        <span class="show-action-label">Email: </span><%= @person.email %>
      </div>
    </div>
    <div class="card-body">
      <%= link_to 'Edit Person', edit_person_registration_path(@person),
          class: 'btn btn-primary', role: :button %>
    </div>
  </div>
</div>
