<div class="footer">
    <div class="footer-inner">
      <p>Hippo is Copyright © <%= Date.today.year %> Cassiano Blonski Sampaio.</p>
    </div>
</div>

<!-- <div class="container">
  <footer class="footer">
    <p>Hippo is Copyright © <%= Date.today.year %> Cassiano Blonski Sampaio.</p>
  </footer>
</div> -->
