<% histories.each do |history| %>
  <div class="history-card no-padding">
    <div class="card-title">
      <div class="col-md-12 d-flex no-padding">
        <div class="col-md-1 p-2 history-points">
          <%= history.points %>
        </div>
        <div class="col-md-8 p-2 history-title">
          <%= link_to history.name, [@project, history] %>
        </div>
        <div class="col-md-3 p-2 ml-auto history-status">
          <% if history.status == 'accepted' %>
            <span class="badge history-badge">accepted</span>
          <% else %>
            <%= link_to history.status_button_text,
                  project_history_next_status_path(@project, history.id),
                  method: :post,
                  class: 'btn btn-primary btn-history',
                  data: {toggle: 'tooltip'},
                  title: history.status_button_text %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-text">
      <div class="row col-md-12">
        <div class="offset-md-1 history-description">
          <%= history.description %>
        </div>
      </div>
    </div>
  </div>
<% end %>
