<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h2 class="form-signin-heading">Edit <%= @project.name %></h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
