<div class="container-fluid container-project">
  <div class="card card-show-info">
    <div class="card-header">
      Project: <%= @project.name %>
    </div>
    <div class="card-body">
      <div class="card-text">
        Managed by: <%= @project.manager.name %>
      </div>
    </div>
    <div class="card-body">
      <%= link_to "Back", projects_path , class: 'btn btn-secondary' %>
      <%= link_to 'Edit Project', edit_project_path(@project),
          class: 'btn btn-primary', role: :button %>
    </div>
  </div>
</div>
