@import "base/base";
@import "bootstrap";
@import "font-awesome";

body {
  color: $white;
  background-color: $dark-grey;
  a {
    color: $white;
  }
  a:hover {
    color: $white;
    text-decoration: underline;
  }
}

.main {
  position: relative;
  padding-bottom: 6em;
}
